Necessary dependancies

['buffalo buffalo buffalo buffalo buffalo buffalo buffalo buffalo', 'buffalo buffalo buffalo buffalo buffalo buffalo buffalo buffalo', 'buffalo buffalo buffalo buffalo buffalo buffalo buffalo buffalo', 'buffalo buffalo buffalo buffalo buffalo buffalo buffalo buffalo', 'buffalo buffalo buffalo buffalo buffalo buffalo buffalo buffalo', 'buffalo buffalo buffalo buffalo buffalo buffalo buffalo buffalo', 'buffalo buffalo buffalo buffalo buffalo buffalo buffalo buffalo', 'buffalo buffalo buffalo buffalo buffalo buffalo buffalo buffalo', 'det stora farliga rymdprojektet går åt pipan', 'tub gnihtyreve uoy yas dna kniht si drawkcab']
